modules = ["nodejs-20"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3001

[workflows]
runButton = "Start Expo Mobile"

[[workflows.workflow]]
name = "Start Expo"
author = 44238966
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run expo start --host 0.0.0.0 --port 5000 --web"

[[workflows.workflow]]
name = "Start Expo Mobile"
author = 44238966
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "expo start --tunnel"

[[workflows.workflow]]
name = "Start Expo LAN"
author = 44238966
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run expo start --lan"

[[workflows.workflow]]
name = "Start Expo Web"
author = 44238966
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run expo start --web --port 5000"
